accelerate
git+https://github.com/huggingface/diffusers.git
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/optimum-quanto.git
git+https://github.com/huggingface/peft.git
controlnet_aux
firebase_admin
bitsandbytes
ultralytics
easydict
ftfy
flash_attn
huggingface_hub
--extra-index-url https://download.pytorch.org/whl/cu126
xformers